* {
  box-sizing: border-box;
  font-family: "Segoe UI", sans-serif;
}
body {
  background:white;
  padding: 40px ;
}

.form-wrapper {
  display: flex;
  justify-content: center;
  padding: 80px 20px;
}

.form-card {
  width: 120px;
  background: #fff;
  padding: 50px;
  border-radius: 10px;
}
.form-card h1 {
  font-size: 30px;
  margin: 0 0 20px 0;
}
.section{
    margin-bottom: 25px;
}

.row{
  display: flex;
  gap: 25px;

}
input {
  flex: 1;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 14px;
}

input::placeholder {
  color:rgb(146, 146, 146);
}

button {
  width: 40%;
  padding: 10px;
  border: none;
  background: rgb(6, 142, 226);
  color: white;
  font-size: 16px;
  border-radius: 6px;
  cursor: pointer;
}

button:hover {
  background: rgb(1, 170, 248);
}