* {
  box-sizing: border-box;
  font-family: "Segoe UI", sans-serif;
}
body {
  background:white;
  padding: 40px;
}

.form-wrapper {
  display: flex;
  justify-content: center;
  padding: 50px;
}

.form-card {
  width: 200px;
  background: #fff;
  padding-right: 50px;
  border-radius: 10px;
}
.form-card h2 {
  font-size: 30 px;
  color: rgb(33, 33, 33);
  margin: 0 0 20px 0; 
}
.section{
    margin-bottom: 15px;
}

.row{
  display: flex;
  gap: 5px;

}
input {
  flex: 1;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 14px;
}

input::placeholder {
  color:rgb(146, 146, 146);
}

select {
  width: 50%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 14px;
  background: white;
  color: rgb(80, 80, 80);
}
button {
  width: 40%;
  padding: 10px;
  border: none;
  background: rgb(6, 142, 226);
  color: white;
  font-size: 16px;
  border-radius: 6px;
  cursor: pointer;
}

button:hover {
  background: rgb(1, 170, 248);
}